@use '../utils' as u;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    //margin-inline: 1rem;
    font-family: u.$font;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 11%);

    //display: grid;
    //justify-content: center;
}